* {
font-family: sans-serif;
}

title {
	font-size: 28;
}

body {
	font-size: 16;
	background-color: silver;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"container";
	grid-auto-rows: 800px;
}

/*header {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	padding: 2px;
	background-color: #efefef;
	text-align: center;
	font-size: 100;
}*/

div#container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: 
	". content .";
}

div#pad1 {
	display: none;
}

div#pad2 {
	display: none;
}

div#content {
	grid-area: content;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"nav livetiles";
	background-color: DarkCyan;
	grid-gap: 5px;
	padding: 10px;
	/*align-content: ;
	justify-content: center;*/
}

div#nav {
	grid-area: nav;
	border-radius: 10px;
	padding: 10px;
	background-color: #f0f0f0;
}

div#livetiles {
	grid-area: livetiles;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(12, 32, 44);
	color: white;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color: #efefef;
  text-align: center;
}