* {
font-family: sans-serif;
}

title {
	font-size: 28;
}

body {
	font-size: 16;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
/*	grid-template-rows: auto;*/
	grid-template-areas: 
		".. content ..";
}

div#pad1 {
	display: none;
}

div#pad2 {
	display: none;
}

div#content {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"nav livetiles";
	/*align-content: ;
	justify-content: center;*/
}

div#nav {
	grid-area: nav;
	border-radius: 10px;
	padding: 1em;
	background-color: #FFF;
}

div#livetiles {
	grid-area: livetiles;
}