<!DOCTYPE html>
<html>
  <head>
    <title>web based notebook</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {% block title %} {% endblock %}
    <header>
      {% if current_user.is_authenticated %}
      <ul><a href="{{ url_for('main.logout') }}">Log Out</a></ul>
      {% else %}
      <ul><a href="{{ url_for('main.login') }}">Log In</a></ul>
      {% endif %}
    </header>
    <div class="container">
      <div id="pad1">
        padding
      </div>
      <div id="content">
        <div id="nav">
          left box add post, search
          {% block navbar %} {% endblock %}
        </div>
        <div id="livetiles">
          {% block livetiles %} {% endblock %}
        </div>
      </div>
      <div id="pad2">
        padding
      </div>

      <footer id="footer">
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </footer>
    </div>
  </body>
</html>
